@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Le reste du CSS ici */



/* --- GLOBAL & HEADER --- */
.main-header {
  width: 100%;
  position: relative;
}

.logo-img {
  height: 80px; /* Taille fixe pour stabiliser le header */
  width: auto;
}

/* --- ELLIPSE --- */
.nav-shape-ellipse {
  position: absolute;
  width: 100px;
  left: 50%; /* Position relative au container, pas fixe en px */
  right: 50%;
  top: 20%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}



/* --- ICONES --- */
.header-icons .bi {
  font-size: 1.5rem;
  color: #000;
}

/* --- NAVBAR SECONDAIRE (Catégories) --- */
.secondary-nav {
  background-color: #f1f1f1; /* Une couleur légère pour voir la zone */
  padding: 15px 0;
}

.nav-links-list {
  display: flex;
  justify-content: center;
  gap: 50px; /* Espace entre les mots */
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-text {
  font-family: 'La Belle Aurore', cursive;
  color: #EA9424;
  font-size: 28px;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: transform 0.3s;
  display: inline-block;
}

.custom-text:hover {
  transform: scale(1.1);
  color: #EA9424;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .nav-links-list {
    flex-direction: column;
    gap: 15px;
  }
  .nav-shape-ellipse {
    display: none;
  }
}